<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2>Log In</h2>
<form action="/login" method="post">
<label>Name:</label>
<input type="text" name="name" palceholder="Name">
<br/>
<label>Password:</label>
<input type="password" name="password" palceholder="Password">
<br/>
<label>Email:</label>
<input type="email" name="email" palceholder="Email">
<br/>
<input type="Submit">
</form>
<a href="/signup">Make a new account</a>
</body>
</html>